<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Convert it!</title>
</head>
<body>
    <h1>Currency Converter</h1>
    <form action="/" method="post">
        <label for="converting-from">Converting From</label>
        <input id="converting-from" placeholder="convert from" type="text" name="from">
        <br>
        <label for="converting-to">Converting To</label>
        <input id="converting-to" placeholder="convert to" type="text" name="to">
        <br>
        <label for="amount">Amount</label>
        <input id="amount" type="text" place holder="amount" name="amt">
        <br>
        <button>Convert</button>
    </form>
    
    <!-- <h2>{{val}}</h2> -->
    {% block content %} {% endblock %}
    <a href="/">Home</a>
</body>
</html>